<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
</head>

<body>

    <div id="app">
        <!-- 显示讲师列表 -->
        <button>获取讲师列表</button>
        <el-button type="success" icon="el-icon-tickets" @click="getTeacherList()">获取讲师列表</el-button>
        <el-button size="mini" round>获取讲师列表</el-button>
        <i class="el-icon-success"></i>

        <table>
            <tr v-for="item in teacherList">
                <td>{{item.name}}</td>
                <td>{{item.level}}</td>
            </tr>
        </table>
        <el-table :data="teacherList" style="width: 100%">
            <el-table-column prop="id" label="id" width="180">
            </el-table-column>
            <el-table-column prop="name" label="姓名" width="180">
            </el-table-column>
            <el-table-column prop="level" label="级别">
                <template slot-scope="scope">
                    <!-- <span v-if="scope.row.level === 1">高级讲师</span>
                    <span v-if="scope.row.level === 2">首席讲师</span> -->
                    {{scope.row.level === 1 ? '高级讲师' : '首席讲师'}}
                </template>
            </el-table-column>
        </el-table>
    </div>

    <script src="vue.min.js"></script>
    <script src="axios.min.js"></script>
    <script src="element-ui/lib/index.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    teacherList: []
                }
            },
            created() {
                this.getTeacherList2()
            },
            methods: {

                getTeacherList() {
                    console.log('获取讲师列表')
                    axios.get('http://localhost:8110/admin/edu/teacher/list').then(response => {
                        console.log(response)
                        this.teacherList = response.data.data.items
                    })
                },

                //基础配置：返回值是一个函数
                initRequest() {
                    return axios.create({
                        baseURL: 'http://localhost:8110',
                        timeout: 5000
                    })
                },

                //api调用
                teacherListApi() {
                    //request是一个函数
                    let request = this.initRequest()
                    return request({
                        url: '/admin/edu/teacher/list',
                        method: 'get'
                    })
                },

                //数据渲染
                getTeacherList2() {
                    console.log('getTeacherList2')
                    this.teacherListApi().then(response => {
                        this.teacherList = response.data.data.items
                    }).catch(error => {
                        console.log(error)
                    })
                }

            }
        })    
    </script>
</body>

</html>